<ion-content [fullscreen]="true">
  <br>
  <ion-card color="light" class="card-borde">
    <img class="imglogo" alt="Perfil Sir Rana" src="assets/image/RANAPERFIL.png" />
  </ion-card>

  <ion-card color="medium" class="card-borde">
  <ion-card-header>
    <ion-card-title class="texto-card" style="color:black; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold;">NOMBRE MAGUS</ion-card-title>
    <ion-card-title class="texto-card" style="color:black; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold;">NOMBRE MAGUS</ion-card-title>
    <ion-card-title class="texto-card" style="color:black; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold;">NOMBRE MAGUS</ion-card-title>
  </ion-card-header>
  </ion-card>
<br>
  <ion-button (click)="homeFrog()" class="boton" size="large" fill="outline">HOME</ion-button>
</ion-content>
<br>