<ion-content [fullscreen]="true">
  <ion-title> <p align="center" style="color:white; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; font-size:xx-large; margin-bottom: 1%; margin-top: 4%;"> NOTICIAS </p>
  </ion-title>
  <ion-card color="light" class="card-borde">
    <ion-card color="medium" class="card-borde">
      <ion-card-header>
        <ion-card-title class="texto-card" style="color:black; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus porro tempora beatae, suscipit recusandae vel quis facilis molestias ullam accusantium. Iusto, placeat. Atque esse unde officiis consequuntur numquam est eligendi?</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card color="medium" class="card-borde">
      <ion-card-header>
        <ion-card-title class="texto-card" style="color:black; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo ad architecto, culpa ratione incidunt voluptatem aliquam harum accusantium vitae repellendus pariatur itaque sit blanditiis tempore.</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-card>
<br>
  <ion-button (click)="homeFrog()" class="boton" size="large" fill="outline">HOME</ion-button>
</ion-content>
<br>