.imglogo{
    width: 70%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.textos-login{
    font-size: 170%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 2%;
}

.margenes-inputs{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
    padding-right: 2%;
}

.boton{
    display:flex;
    justify-content: center;
}