<ion-content>
<br>
<br>
<br>
  <ion-img class="imglogo" src="assets/image/LOGORANAFINAL.png" alt="pocketlogo"></ion-img>
  <br>
  <p class="ion-text-center textos-login">CORREO</p>
  <ion-item class="margenes-inputs">
    <ion-input placeholder="correo@correo.cl"></ion-input>
  </ion-item>
  <br>
  <p class="ion-text-center textos-login">PASSWORD</p>
  <ion-item class="margenes-inputs">
    <ion-input placeholder="**************" type="password"></ion-input>
  </ion-item>
  <br>
  <br>
  <div class="boton">
  <ion-button (click)="loginFrog()" size="large" fill="outline">Ingresar</ion-button>
  </div>
  <br>
  <br>
  <a href="#" [routerLink]="['/registro']" class="labels" style="margin: 0 auto; display:block; text-align: center; color: rgb(134, 243, 9);">REGISTRAR USUARIO</a>
</ion-content>