<ion-content [fullscreen]="true">
<ion-title> <p align="center" style="color:white; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; font-size:xx-large; margin-bottom: 1%; margin-top: 4%;"> CATEGORÍAS </p>
 </ion-title>
  <ion-card>
  <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/image/01.png" />
          </ion-thumbnail>
          <ion-label style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; font-size: larger;">LINKS DE INTERES</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/image/02.png" />
          </ion-thumbnail>
          <ion-label style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; font-size: larger;">ARTÍCULOS</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/image/03.png" />
          </ion-thumbnail>
          <ion-label style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; font-size: larger;">IMÁGENES</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/image/04.png" />
          </ion-thumbnail>
          <ion-label style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; font-size: larger;">VIDEOS</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/image/05.png" />
          </ion-thumbnail>
          <ion-label style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; font-size: larger;">DATOS PRIVADOS</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/image/06.png" />
          </ion-thumbnail>
          <ion-label style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; font-size: larger;">SUSCRIPCIONES</ion-label>
        </ion-item>

      
    </ion-list>
  </ion-card-content>
  </ion-card>
    <ion-button class="boton" size="large" fill="outline">HOME</ion-button>
</ion-content>

