<ion-content>
  <br>
  <p align="center" style="color:white; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; font-size:xx-large; margin-bottom: 1%; margin-top: 4%;"> 404 </p>
  <p align="center" style="color:white; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; font-size:xx-large; margin-bottom: 1%; margin-top: 4%;"> Página no encontrada </p>
  <br>
  <br>
  <br>
    <ion-img class="imglogo" src="assets/image/404.gif" alt="pocketlogo"></ion-img>
    <br>
    <div class="boton">
    <ion-button (click)="loginFrog()" size="large" fill="outline">VOLVER AL LOGIN</ion-button>
    </div>
    <br>
    <br>
</ion-content>