<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <ion-card-title class="ion-text-center texto-registro" style="color:black; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold;">Bienvenid@ {{ nombre }}</ion-card-title>
  <br>
  <br>
  <br>
  <ion-img class="imglogo" src="assets/image/LOGORANAFINAL.png" alt="pocketlogo"></ion-img>
  <br>
  <br>
  <ion-button (click)="perfilFrog()" class="boton" size="large" fill="outline">PERFIL</ion-button>
  <br>
  <ion-button (click)="noticiasFrog()" class="boton" size="large" fill="outline">NOTICIAS</ion-button>
  <br>
  <ion-button (click)="categoriasFrog()" class="boton" size="large" fill="outline">CATEGORÍAS</ion-button>
  <br>
  <ion-button (click)="salirFrog()" class="boton" size="large" fill="outline">SALIR</ion-button>
</ion-content>