<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-img class="imglogo" src="assets/image/LOGORANAFINAL.png" alt="pocketlogo"></ion-img>
  <br>
  <br>
  <ion-button class="boton" size="large" fill="outline">PERFIL</ion-button>
  <br>
  <ion-button class="boton" size="large" fill="outline">NOTICIAS</ion-button>
  <br>
  <ion-button class="boton" size="large" fill="outline">CATEGORÍAS</ion-button>
  <br>
  <ion-button class="boton" size="large" fill="outline">SALIR</ion-button>
</ion-content>
