.imglogo{
  width: 60%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.textos-registro{
  font-size: 130%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 2%;
  margin-top: 2%;
}

.margenes-inputs{
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 2%;
  padding-right: 2%;
}

.boton{
  display:flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

