<ion-content [fullscreen]="true"> 
  <ion-img class="imglogo" src="assets/image/LOGORANAFINAL.png" alt="pocketlogo"></ion-img>
  <p class="ion-text-center textos-registro">NOMBRE</p>
  <ion-item class="margenes-inputs">
    <ion-input placeholder="Pedro Martinez" [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <p class="ion-text-center textos-registro">EDAD</p>
  <ion-item class="margenes-inputs">
    <ion-input placeholder="30... Siempre?" [(ngModel)]="edad"></ion-input>
  </ion-item>

  <p class="ion-text-center textos-registro">CORREO</p>
  <ion-item class="margenes-inputs">
    <ion-input placeholder="correo@correo.cl" [(ngModel)]="correo"></ion-input>
  </ion-item>

  <p class="ion-text-center textos-registro">NICKNAME</p>
  <ion-item class="margenes-inputs">
    <ion-input placeholder="Sir Rana" [(ngModel)]="user"></ion-input>
  </ion-item>

  <p class="ion-text-center textos-registro">PASSWORD</p>
  <ion-item class="margenes-inputs">
    <ion-input placeholder="**************" type="password" [(ngModel)]="clave"></ion-input>
  </ion-item>

  <br>
  <div class="boton">
  <ion-button (click)="perfilFrog()" size="large" fill="outline">REGISTRAR</ion-button>
  </div>
</ion-content>